/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
}

.header {
    border-bottom: 2px solid #FFFFFF;
    padding-top: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    max-width: 1130px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1370px;
    column-gap: 10px;
    text-align: center;
}

.logo {
    display: block;
    max-width: 181px;
    min-width: 81px;
}

.logo__img {}


.nav {}

.nav__list {
    display: flex;
    column-gap: 36px;
}

.nav__item {
    border-bottom: 2px solid transparent;
}

.nav__item.active {
    border-bottom: 2px solid #FFFFFF;
}

.nav__link {
    color: #FFFFFF;
}

.header__contacte {
    display: flex;
    column-gap: 52px;
    align-items: center;
}

.location {
    font-size: 16px;
    line-height: 1.13px;
    color: #FFFFFF;
    font-style: normal;
}

.tel {
    font-size: 16px;
    line-height: 1.13;
    color: #FFFFFF;
    font-style: normal;
}


.main {}

.hero {
    height: 100vh;
    background: url(../img/content/bg.png) no-repeat center/cover;
    padding-top: 272px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.hero__main {
    flex: 1;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 48px;
    line-height: 1.17;
}

.hero__subtittle {
    font-family: 'Roboto';
    font-size: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 50px;
}

.hero__btn {
    display: flex;
    column-gap: 20px
}

.btn {
    border-radius: 4px;
    text-align: center;
    background: none;
    min-width: 170px;
    display: inline-block;
    padding: 12px 16px;
}

.btn.btn_theme_white {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.hero__text {}

.advantages {
    display: flex;
    justify-content: space-between;
}

.advantage {
    text-align: center;
    border-radius: 4px;
    padding: 16px 10px;

}

.hero__advantage {
    flex: 0 1 276px;
    border: 2px solid #FFFFFF;
}

.advantage__img {
    margin-bottom: 14px;
}

.desc {}

.header__contact {
    display: flex;
    column-gap: 52px;
    align-items: center;
}

.location {
    color: #FFFFFF;
    font-style: normal;
    font-size: 16px;
    line-height: 1.13;
}

.title {
    font-family: 'Roboto';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
}

.hero .title {
    margin-bottom: 17px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px
}

.hero__call-to-action span {
    color: coral;
}

.hero_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 960px) {
    .container {
        max-width: 898px;
    }

    .logo {
        max-width: 181px;
    }

    .header .location {
        display: none;
    }

    .title {
        font-size: 42px;
    }

    .hero__subtittle {
        font-size: 22px;
        margin-bottom: 70px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 722px;
    }

    .logo {
        max-width: 142px;
    }

    .nav {
        display: none;
    }

    .header__contact {
        display: none;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 300px;
    }

    .logo {
        max-width: 81px;
    }
}

@media (max-width: 960px) {}


.podrobno_content {
    text-align: center;
    height: 646px;
    width: 100%;
}

.shapka {}

.name_podrobno {
    font-size: 54px;
    font-weight: 600;
    color: #E7E7E7;
    margin-top: 60px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

.opisanie_podrobno {
    font-size: 20px;
    font-weight: 300;
}

.osnov_chast {
    display: inline-flex;
    height: 100%;
    width: 800px;
}

.left {
    height: 100%;
    width: 400px;
    text-align: left;
}

.right {
    height: 100%;
    width: 400px;
    text-align: left;
}

.pervi {
    position: relative;
}

.nol_pervi {
    font-size: 100px;
    font-weight: 700;
    margin: 0;
    color: #E7E7E7;
    position: relative;
}

.pervi_opisanie {
    position: absolute;
    top: 60px;
    left: 30px;
}

.vtoroi {
    position: relative;
}

.nol_vtori {
    font-size: 100px;
    font-weight: 700;
    margin: 0;
    color: #E7E7E7;
    position: relative;
}

.vtoroi_opisanie {
    position: absolute;
    top: 60px;
    left: 30px;
}

.treti {
    margin-top: 100px;
    position: relative;
}

.nol_treti {
    font-size: 100px;
    font-weight: 700;
    margin: 0;
    color: #E7E7E7;
    position: relative;
}

.treti_opisanie {
    position: absolute;
    top: 60px;
    left: 30px;
}

.chetverti {
    margin-top: 100px;
    position: relative;
}

.nol_chetverti {
    font-size: 100px;
    font-weight: 700;
    margin: 0;
    color: #E7E7E7;
    position: relative;
}

.chetverti_opisanie {
    position: absolute;
    top: 60px;
    left: 30px;
}

.vigodi_content {
    background: url(../img/content/pixe.png) no-repeat center/cover;
    height: 666px;
}

.shapka_vigodi {
    color: #FFFFFF;
    text-align: center;
    padding-top: 140px;
    margin-bottom: 80px;
}

.name_vigodi {
    font-size: 54px;
    font-weight: 600;
    margin: 0;
}

.opisanie_vigodi {
    font-size: 20px;
    font-weight: 400;
}

.content_vigodi {
    width: 1119px;
    height: 211px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}

.bloxxs {
    height: 211px;
    width: 211px;
    background-color: #FFFFFF;
    border-radius: 5%;
    text-align: center;
}

.bloxxs_img {
    height: 35px;
    width: 35px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.Yslygi {
    height: 900px;
    width: 100%;
}

.one_block {
    height: 265px;
    max-width: 265px;
    text-align: center;
    border: 10px;
    border-radius: 10%;
    border: 1px solid grey;
    overflow: hidden;
}

.foto1 {
    height: 218px;
    width: 260px;
}

.up {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 265px;
    width: 1120px;
    margin-bottom: 70px;
}

.down {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 265px;
    width: 1120px;
}

.yslygi_header {
    text-align: center;
}

.name_yslygi {
    font-size: 54px;
    font-weight: 600;
    margin: 0;
    padding-top: 30px;
    color: #E7E7E7;
}

.opisanie_yslygi {
    margin: 0;
    padding-bottom: 50px;
    padding-top: 20px;
}

.yslugi_content {
    text-align: center;
}

.btn5 {
    border-radius: 4px;
    text-align: center;
    background: none;
    min-width: 170px;
    display: inline-block;
    padding: 12px 16px;
    margin-top: 30px;
}